.container {
  max-width: 90vw;
  margin: 0 auto;
  overflow: auto;
}

/* Text sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 0.5rem;
}

.md {
  font-size: 1rem;
}

.lg {
  font-size: 2rem;
}

.xl {
  font-size: 3rem;
}

.text-center {
  text-align: center;
}
